@charset "UTF-8";
.custom-icon {
  background-color: orange;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: bold;
  line-height: 25px;
  
}
.custom-icon2 {
  position: relative;
  width: 25px;
  height: 40px;
  background-color: #00BFFF;
  border-radius: 50%;
  text-align: center;
  color: #000000;
  font-weight: bold;
  line-height: 40px;
}

.custom-icon .marker-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F8F8FF;
  color: #000000;
  width: 30px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
}

.myclustericon {
	background-color: blue;
	border-radius: 100%;
	color: white;
	font-size: 10px;
	font-weight: bold;
	padding: 16px;
	text-align: center;
}
/* Clase para los iconos de los marcadores de un cluster */
.myclustericon2 {
	opacity: 0 !important;
}
.botonEliminar {
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin-top: 40px; 
}

.marker-button {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid black;
	margin-right: 5px;
}

.transparent-marker {
	opacity: 0 !important;
}

.notransparent-marker {
	opacity: 1 !important;
}

.mycircleicon {
	background-color: red;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	margin-left: -10px;
	margin-top: -10px;
	position: absolute;
	border: 2px solid white;
}
/* Clases de las etiquetas */
.green-popup .leaflet-popup-content-wrapper {
	background-color: green;
	color: white;
}

.red-popup .leaflet-popup-content-wrapper {
	background-color: red;
	color: white;
}

.blue-popup .leaflet-popup-content-wrapper {
	background-color: blue;
	color: white;
}

.orange-popup .leaflet-popup-content-wrapper {
	background-color: orange;
	color: white;
}

.yellow-popup .leaflet-popup-content-wrapper {
	background-color: yellow;
	color: white;
}

.black-popup .leaflet-popup-content-wrapper {
	background-color: black;
	color: white;
}

.white-popup .leaflet-popup-content-wrapper {
	background-color: white;
	color: black;
}

.gray-popup .leaflet-popup-content-wrapper {
	background-color: #999999;
	color: black;
}

.violet-popup .leaflet-popup-content-wrapper {
	background-color: #cc66cc;
	color: white;
}

/* Clase para las leyendas */
.fotoazul-leyenda {
  width: 25px; /* Ajusta el ancho deseado */
  height: 35px; /* Ajusta la altura deseada */
}
.fotorojoOscuro-leyenda {
  width: 30px; /* Ajusta el ancho deseado */
  height: 35px; /* Ajusta la altura deseada */
}
.fotorojo-leyenda {
 width: 35px; /* Ajusta el ancho deseado */
  height: 35px; /* Ajusta la altura deseada */
}
.fotoverdeOscuro-leyenda {
  width: 25px; /* Ajusta el ancho deseado */
  height: 35px; /* Ajusta la altura deseada */
}
.fotoverde-leyenda {
  width: 25px; /* Ajusta el ancho deseado */
  height: 35px; /* Ajusta la altura deseada */
}
.fotoverdeClaro-leyenda {
  width: 25px; /* Ajusta el ancho deseado */
  height: 35px; /* Ajusta la altura deseada */
}
.fotovioletaOscuro-leyenda {
  width: 30px; /* Ajusta el ancho deseado */
  height: 40px; /* Ajusta la altura deseada */
}
.fotovioleta-leyenda {
 width: 25px; /* Ajusta el ancho deseado */
  height: 35px; /* Ajusta la altura deseada */
}
.fotovioletaClaro-leyenda {
  width: 23px; /* Ajusta el ancho deseado */
  height: 30px; /* Ajusta la altura deseada */
}
.fotonegro-leyenda {
  width: 25px; /* Ajusta el ancho deseado */
  height: 35px; /* Ajusta la altura deseada */
}
.leyenda {
	position: absolute;
	display: none;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 10px;
	width: 100px;
	height: 520px;
	flex-direction: column;
	right: 10px;
}
.leyenda1 {
	position: absolute;
	display: none;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 10px;
	width: 100px;
	height: 370px;
	flex-direction: column;
	right: 10px;
}
.leyenda-filas span:first-child {
  font-size: 15px;
  font-weight: bold;
  margin-right: 5px;
}

.leyenda1 .leyenda-titulo {
  font-weight: bold;
}


.leyenda1 .leyenda-texto {
  display: flex;
  flex-direction: column;
}

.leyenda2 {
	position: absolute;
	display: none;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 10px;
	width: 100px;
	height: 300px;
	flex-direction: column;
	right: 10px;
}
.leyenda3 {
	position: absolute;
	display: none;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 10px;
	width: 100px;
	height: 250px;
	flex-direction: column;
	right: 10px;
}


.leyenda-titulo {
  padding: 10px;
  background-color:  #f2f2f2;
  font-weight: bold;
  font-size:17px;
  margin-bottom: 10px;
}

.leyenda-columna {
  margin-left: 70px;
}

.marker-icon {
	display: inline-block;
	width: 20px;
	height: 40px;
	margin-right: 5px;
	border-radius: 50%;
}
/* Colores circulos leyendas */
.green {
	background-color: #33cc33;
}

.red {
	background-color: red;
}

.orange {
	background-color: #ff6600;
}

.yellow {
	background-color: #ffff66;
}

.gray {
	background-color: #999999;
}

.white {
	background-color: #ffffff;
	border: 1px solid #808080;
}

.black {
	background-color: #000000;
	border: 1px solid #fff;
}

.violet {
	background-color: #cc66cc;
}

.blue {
	background-color: #109DFA;
}

.leaflet-marker-icon.leaf-transparent {
	opacity: 0 !important;
}

.leaflet-marker-icon.leaf-notransparent {
	opacity: 1 !important;
}

.leaflet-marker-icon.leaf-black {
	color: black !important;
}

/* Estilos CSS para el menú */
.menu {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	padding: 10px;
	width: 640px; 
  	height: 80px; 
}

.menu-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background-color: #f2f2f2;
	width: 620px; 
	height:20px;
	text-align:center;
}

.menu-header h1 {
	position:absolute;
	margin-left: 240px; 
	font-size: 25px;
	font-weight: bold;
	text-align:center;
	align-items: center;
}

.menu-items {
  display:flex;
  margin-right:10px;
  list-style: none;
  padding: 0;
  font-size: 12px;
  color:#000000;
}

.menu-items li {
	padding: 10px;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
	color:#000000;
}

.menu-items li:hover {
	background-color: #f2f2f2;
	color:#000000;
}

.dropdown-content {
	padding: 5px;
  display: none;
  color:#000000;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a:hover {
	background-color: #000000;
	color: #ffffff;
}

.dropdown-content a {
  color: #000000; /* Cambiar el color del texto a negro */
}

